# SQLAlcehmy Practice

In [1]:
# Dependence
import sqlalchemy as sa
from config import user_name, user_password

In [2]:
database = 'test'
engine = sa.create_engine(f'postgresql+psycopg2://{user_name}:{user_password}@localhost:5433/test')

# Test connection
try:
    connection = engine.connect()
    print("Connected to the database successfully!")
    connection.close()
except Exception as e:
    print(f"Failed to connect to the database: {e}")

Connected to the database successfully!

## CRUD Methods

CRUD is a widely used term in computer programming, representing four basic database operations: Create, Read, Update, and Delete. These operations are the core methods for managing and manipulating data.

### Create Table

In [3]:
# Create new table
metadata = sa.MetaData()
persons = sa.Table(
    'persons', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('name', sa.String(200), nullable=False),
    sa.Column('age', sa.Integer, nullable=False),
    sa.Column('birthday', sa.Date, nullable=False),
)
metadata.create_all(engine)

In [4]:
# Insert query:single record
insert_tom = persons.insert().values(name = 'Tom', age = 20, birthday = '1999-01-10')
with engine.connect() as conn:
    result = conn.execute(insert_tom)
    print(result.inserted_primary_key)
    conn.commit()

(5,)

In [5]:
# Insert multiple records
persons_insert = persons.insert()

with engine.connect() as conn:
    conn.execute(persons_insert, [
        {'name': 'John', 'age': 20, 'birthday': '1998-01-10'},
        {'name': 'Jane', 'age': 20, 'birthday': '2000-01-10'},
        {'name': 'Jack', 'age': 20, 'birthday': '2001-01-10'}
    ])
    conn.commit()

### Read Table

In [18]:
# Select query: fetch all
person_select = persons.select()

with engine.connect() as conn:
    results_set = conn.execute(person_select)
    
    result = results_set.fetchall()
    # result_one = results_set.fetchone()
    print(result)

[(1, 'Tom', 20, datetime.date(1999, 1, 10)), (2, 'John', 20, datetime.date(1998, 1, 10)), (3, 'Jane', 20, datetime.date(2000, 1, 10)), (4, 'Jack', 20, datetime.date(2001, 1, 10))]

In [6]:
# Select query
person_select = persons.select().where(persons.c.name == 'John')

with engine.connect() as conn:
    results = conn.execute(person_select)
    for row in results:
        # print(row)
        print(row.age)

20

### Update Table

In [7]:
# Update query
person_update = persons.update()

with engine.connect() as conn:
    conn.execute(person_update.values(name = 'Steve').where(persons.c.id == 1))
    conn.commit()

In [8]:
### Delete Table
person_delete = persons.delete()

with engine.connect() as conn:
    conn.execute(person_delete.where(persons.c.id == 2))
    conn.commit()

## ERD

In [10]:
metadata = sa.MetaData()

# Create department table
departments = sa.Table(
    'departments', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('name', sa.String(200), nullable=False),
)

employees = sa.Table(
    'employees', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('aprt_id', sa.Integer, sa.ForeignKey('departments.id'), nullable=False),
    sa.Column('first_name', sa.String(200), nullable=False),
    sa.Column('last_name', sa.String(200), nullable=False)
)

metadata.create_all(engine)

In [12]:
# Insert data
with engine.connect() as conn:
    # Insert data into departments table
    conn.execute(departments.insert(), [
        {'name': 'Engineering'},
        {'name': 'Human Resources'},
        {'name': 'Marketing'}
    ])

    # Get the dapartment_id
    department_ids = conn.execute(sa.select(departments.c.id)).fetchall()

    if department_ids:
        # Insert data into employees table
        conn.execute(employees.insert(), [
            {'aprt_id': department_ids[0][0], 'first_name': 'John', 'last_name': 'Doe'},
            {'aprt_id': department_ids[0][0], 'first_name': 'Jane', 'last_name': 'Smith'},
            {'aprt_id': department_ids[1][0], 'first_name': 'Emily', 'last_name': 'Davis'},
            {'aprt_id': department_ids[2][0], 'first_name': 'Michael', 'last_name': 'Johnson'}
        ])
    conn.commit()