# SQLAlcehmy Practice

In [1]:
# Dependence
import sqlalchemy as sa
from config import user_name, user_password

In [2]:
database = 'test'
engine = sa.create_engine(f'postgresql+psycopg2://{user_name}:{user_password}@localhost:5433/test')

# Test connection
try:
    connection = engine.connect()
    print("Connected to the database successfully!")
    connection.close()
except Exception as e:
    print(f"Failed to connect to the database: {e}")

Connected to the database successfully!

## SQLAlchemy Core

### CRUD Methods

CRUD is a widely used term in computer programming, representing four basic database operations: Create, Read, Update, and Delete. These operations are the core methods for managing and manipulating data.

#### Create Table

In [11]:
# Create new table
metadata = sa.MetaData()
persons = sa.Table(
    'persons', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('name', sa.String(200), nullable=False),
    sa.Column('age', sa.Integer, nullable=False),
    sa.Column('birthday', sa.Date, nullable=False),
    sa.Column('apt_id', sa.Integer, sa.ForeignKey('departments.id'), nullable=False)
)
departments = sa.Table(
    'departments', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('name', sa.String(200), nullable=False)
)
metadata.create_all(engine)

In [4]:
# Insert query:single record
insert_tom = persons.insert().values(name = 'Tom', age = 20, birthday = '1999-01-10')
with engine.connect() as conn:
    result = conn.execute(insert_tom)
    print(result.inserted_primary_key)
    conn.commit()

(9,)

In [12]:
# Insert multiple records
persons_insert = persons.insert()
departments_insert = departments.insert()

with engine.connect() as conn:
    conn.execute(persons_insert, [
        {'name': 'John', 'age': 20, 'birthday': '1998-01-10', 'apt_id': 1},
        {'name': 'Jane', 'age': 20, 'birthday': '2000-01-10', 'apt_id': 2},
        {'name': 'Jack', 'age': 20, 'birthday': '2001-01-10', 'apt_id': 2},
    ])
    conn.commit()

with engine.connect() as conn:
    conn.execute(departments_insert, [
        {'name': 'HR'},
        {'name': 'Sales'}
    ])

#### Read Table

In [10]:
# Select query: fetch all
person_select = persons.select()

with engine.connect() as conn:
    results_set = conn.execute(person_select)
    
    result = results_set.fetchall()
    # result_one = results_set.fetchone()
    print(result)

[(3, 'Jane', 20, datetime.date(2000, 1, 10)), (4, 'Jack', 20, datetime.date(2001, 1, 10)), (5, 'Tom', 20, datetime.date(1999, 1, 10)), (6, 'John', 20, datetime.date(1998, 1, 10)), (7, 'Jane', 20, datetime.date(2000, 1, 10)), (8, 'Jack', 20, datetime.date(2001, 1, 10)), (9, 'Tom', 20, datetime.date(1999, 1, 10)), (10, 'John', 20, datetime.date(1998, 1, 10)), (11, 'Jane', 20, datetime.date(2000, 1, 10)), (12, 'Jack', 20, datetime.date(2001, 1, 10)), (1, 'Steve', 20, datetime.date(1999, 1, 10))]

In [7]:
# Select query
person_select = persons.select().where(persons.c.name == 'John')

with engine.connect() as conn:
    results = conn.execute(person_select)
    for row in results:
        # print(row)
        print(row.age)

20
20

#### Update Table

In [8]:
# Update query
person_update = persons.update()

with engine.connect() as conn:
    conn.execute(person_update.values(name = 'Steve').where(persons.c.id == 1))
    conn.commit()

#### Delete Table

In [9]:
# Delete Table
person_delete = persons.delete()

with engine.connect() as conn:
    conn.execute(person_delete.where(persons.c.id == 2))
    conn.commit()

### ERD

In [60]:
metadata = sa.MetaData()

# Create department table
departments = sa.Table(
    'departments', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('name', sa.String(200), nullable=False),
)

employees = sa.Table(
    'employees', metadata,
    sa.Column('id', sa.Integer, primary_key=True),
    sa.Column('aprt_id', sa.Integer, sa.ForeignKey('departments.id'), nullable=False),
    sa.Column('first_name', sa.String(200), nullable=False),
    sa.Column('last_name', sa.String(200), nullable=False)
)

metadata.create_all(engine)

In [61]:
# Insert data
with engine.connect() as conn:
    # Insert data into departments table
    conn.execute(departments.insert(), [
        {'name': 'Engineering'},
        {'name': 'Human Resources'},
        {'name': 'Marketing'}
    ])

    # Get the dapartment_id
    department_ids = conn.execute(sa.select(departments.c.id)).fetchall()

    if department_ids:
        # Insert data into employees table
        conn.execute(employees.insert(), [
            {'aprt_id': 1, 'first_name': 'John', 'last_name': 'Doe'},
            {'aprt_id': 2, 'first_name': 'Jane', 'last_name': 'Smith'},
            {'aprt_id': 3, 'first_name': 'Emily', 'last_name': 'Davis'},
            {'aprt_id': 2, 'first_name': 'Michael', 'last_name': 'Johnson'}
        ])
    conn.commit()

In [62]:
# join
with engine.connect() as conn:
    join_statement = employees.join(departments, employees.c.aprt_id == departments.c.id)
    query = (
        sa.select(
            departments.c.name,
            employees.c.first_name,
            employees.c.last_name
        )
        .select_from(join_statement)
        # .distinct()  #Ensure the distinct results
    )

    result = conn.execute(query).fetchall()
    for row in result:
        print(row)

('Engineering', 'John', 'Doe')
('Human Resources', 'Michael', 'Johnson')
('Human Resources', 'Jane', 'Smith')
('Marketing', 'Emily', 'Davis')

## SQLAlchemy ORM

In [2]:
# Dependence
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from config import user_name, user_password
from sqlalchemy.orm import sessionmaker

from warnings import filterwarnings
filterwarnings('ignore')

In [35]:
database = 'test'
engine = create_engine(f'postgresql+psycopg2://{user_name}:{user_password}@localhost:5433/test')
Base = declarative_base()

In [42]:
# Create table
class Person(Base):
    __tablename__ = 'person'
    id = Column(Integer, primary_key=True)
    name = Column(String(200), nullable=False)
    age = Column(Integer, nullable=False)
    birthday = Column(Date, nullable=False)
    
    def __repr__(self):
        return f"<Person(id={self.id}, name={self.name}, age={self.age}, birthday={self.birthday})>"
Base.metadata.create_all(engine)

In [43]:
# Create session 
Session = sessionmaker(bind=engine)
session = Session()

In [46]:
# Insert single records
single_record = Person(name='John', age=20, birthday='1998-01-10') 
session.add(single_record)
session.commit()

In [47]:
## insert multiple records
multiple_records = [
    Person(name='Juan', age=20, birthday='1998-01-10'),
    Person(name='Jane', age=20, birthday='2000-01-10'),
]
session.add_all(multiple_records)
session.commit()

In [63]:
# Query
results  = (
    session.query(departments.c.name, employees.c.first_name, employees.c.last_name)
    .join(employees,employees.c.aprt_id == departments.c.id)
    .filter(departments.c.name == 'Engineering')
    # .distinct()     
    .all()
)
for row in results:
    print(row)

session.close()

('Engineering', 'John', 'Doe')

In [59]:
# update
from sqlalchemy import update
# Method 1
update_query = (
    update(employees)
    .where(employees.c.last_name == 'John')
    .values(last_name='Smith')
)
session.execute(update_query)
session.commit()

In [66]:
# Update method 2
session.query(employees).filter(employees.c.last_name == 'Doe').update(
    {'first_name': 'Emily'}
)
session.commit()

In [69]:
# mapped
from sqlalchemy.orm import Mapped, mapped_column
import datetime as dt

class Students(Base):
    __tablename__ = 'students'
    id: Mapped[int] = mapped_column('id', primary_key=True)
    name: Mapped[str] = mapped_column(String(120), nullable=False)
    birthday:Mapped[dt.datetime]

Base.metadata.create_all(engine)
session = Session()

In [70]:
# Insert single record
single_record = Students(name='John', birthday='1998-01-10')
session.add(single_record)
session.commit()

In [3]:
# annotated
from typing_extensions import Annotated
from sqlalchemy.sql import func
from sqlalchemy import DateTime

int_pk = Annotated[int, mapped_column(primary_key=True)]
required_name = Annotated[str, mapped_column(String(120), nullable=False)]
timestamp_default = Annotated[dt.datetime, mapped_column(DateTime, nullable=False, server_default = func.now())]

class Teacher(Base):
    __tablename__ = 'teacher'
    id: Mapped[int_pk]  # use here
    name: Mapped[required_name] 
    birthday:Mapped[dt.datetime] = mapped_column(DateTime, nullable=False)
    created_at: Mapped[timestamp_default]

Base.metadata.create_all(engine)

single_record = Teacher(name='Steve', birthday='1990-01-10')
session.add(single_record)
session.commit()

NameError: name 'mapped_column' is not defined