# Big4 Solution

In [49]:
# Dependencies
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import create_engine, func, and_, or_, MetaData, Table, Column, Integer, String, text, desc
from config import user_name, user_password
from sqlalchemy.exc import SQLAlchemyError

from warnings import filterwarnings
filterwarnings('ignore')

In [20]:
# # create engine to database
database = 'test'
try:
    engine = create_engine(f'postgresql+psycopg2://{user_name}:{user_password}@localhost:5433/' + database)
    connection = engine.connect()
    print("Connection successful")
    connection.close()
except SQLAlchemyError as e:
    print(f"Connection fail: {e}")

Connection successful

In [27]:
Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()
# Check if the database connection is successful.
try:
    # 尝试执行简单的查询
    result = session.execute(text("SELECT 1"))
    print("Query executed successfully")
except SQLAlchemyError as e:
    print(f"Query executed failed: {e}")

Query executed successfully

In [34]:
# Crate metadata object
metadata = MetaData()
# Reflect all table in the database
metadata.reflect(bind=engine)

In [36]:
# display the all table name
for table_name in metadata.tables.keys():
    print(table_name)

users
user_roles
roles
employee_abc
departments
employees

In [44]:
# Query employee_abc 
employee = Table('employee_abc', metadata, autoload=True, autoload_with=engine)
for cols in employee.columns:
    print(cols.name)

e_id
e_name
e_salary
e_age
e_gender
e_dept

In [50]:
# 1.Fetch all the data from table employee_abc sorted by the employee's name in desc order
results = (
    session.query(employee)
    .order_by(desc(employee.c.e_name))
    .all()
)
for result in results:
    print(result)

(1, 'Sam', 95000, 45, 'Male', 'Operations')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')
(2, 'Bob', 80000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')

In [51]:
# 2. Fetch the details of the employee with highest salary in the company.
results = (
    session.query(employee)
    .order_by(desc(employee.c.e_salary))
    .limit(1)
    .all()
)
for result in results:
    print(result)

(5, 'Matt', 159000, 33, 'Male', 'Sales')

In [52]:
# 3.Find the number of employees whose age between 25 and 35
results = (
    session.query(func.count(employee.c.e_id))
    .filter(and_(employee.c.e_age > 25, employee.c.e_age < 35))
    .all()
)

for result in results:
    print(result)

(3,)

In [54]:
# 4. What's the average age of all emoloyees in the company, rounded off to 2 decimal places?
results = (
    session.query(
        employee.c.e_dept, 
        func.round(func.avg(employee.c.e_age), 2).label('employee_avg_age')
    )
    .group_by(employee.c.e_dept)
    .all()
)
for result in results:
    print(result)

('Operations', Decimal('36.00'))
('Support', Decimal('21.00'))
('Analytics', Decimal('27.50'))
('Sales', Decimal('33.00'))

In [55]:
# 5.What's the maximum and average salary of employee in each department?
results = (
    session.query(
        employee.c.e_dept,
        func.round(func.avg(employee.c.e_salary), 2).label('employee_avg_salary'),
        func.round(func.max(employee.c.e_salary), 2).label('employee_max_salary')
    )
    .group_by(employee.c.e_dept)
    .all()
)
for result in results:
    print(result)

('Operations', Decimal('103500.00'), Decimal('112000.00'))
('Support', Decimal('80000.00'), Decimal('80000.00'))
('Analytics', Decimal('99000.00'), Decimal('125000.00'))
('Sales', Decimal('159000.00'), Decimal('159000.00'))

In [57]:
# 6.Total number of employees working in each department?
results = (
    session.query(
        employee.c.e_dept,
        func.count(employee.c.e_id).label('employee_cnt')
    )
    .group_by(employee.c.e_dept)
    .all()
)
for result in results:
    print(result)

('Operations', 2)
('Support', 1)
('Analytics', 2)
('Sales', 1)

In [60]:
# 7. Suppose the company has announced a salary increment of 20% for all the employees. Write an SQL query to print the employee details and the corresponding incremented salary.
results = (
    session.query(
        employee.c.e_dept,
        employee.c.e_name,
        employee.c.e_age,
        employee.c.e_gender,
        func.round((employee.c.e_salary * 1.2), 2).label('incremented_salary'),
    )
    .order_by(desc(func.round((employee.c.e_salary * 1.2), 2)))
    .all()
)
for result in results:
    print(result)

('Sales', 'Matt', 33, 'Male', Decimal('190800.00'))
('Analytics', 'Anne', 25, 'Female', Decimal('150000.00'))
('Operations', 'Jeff', 27, 'Male', Decimal('134400.00'))
('Operations', 'Sam', 45, 'Male', Decimal('114000.00'))
('Support', 'Bob', 21, 'Male', Decimal('96000.00'))
('Analytics', 'Julia', 30, 'Female', Decimal('87600.00'))

#### Done